# Ignore files matching oproxy.<number>.toe
oproxy.*.toe

# Ignore files containing CrashAutoSave or TouchDesignerCrash
*CrashAutoSave*
*TouchDesignerCrash*

# Ignore folders named Backup
Backup/
.cursor/
__pycache__/